.header {
    background-color: #F8F8F8;
    height: 600px;
}

.fg {
    position: relative;
}

.fg-1 {
    z-index: 2;
    left: 50px;
}

.fg-2 {
    top: -85px;
    z-index: 1;
    left: 150px;
}

.header-logo {
    position: absolute;
    top: 40px;
    left: 350px;
    z-index: 2;
    height: 50px;
}

.login-btn a span {
    margin-left: 10px;
}

.login-btn a {
    font-weight: 400;
    font-size: 17px;
}

.header-people img {
    height: 400px;
    position: absolute;
    right: 250px;
    top: 200px;
}

.header-hello {
    margin-left: 350px;
    margin-top: -50px;
}

.header-hello h2 {
    font-weight: 700;
    font-size: 50px;
    color: #3C4852;
}

.header-hello p {
    font-weight: 400;
    color: #3C4852;
}

.header-btns {
    margin-left: 350px;
    margin-top: 20px;
}

.header-btns button a {
    color: #3C4852;
    font-weight: 500;
}
