@import "header.css";
@import "navbar.css";
@import "benefits.css";

* {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.btn {
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.btn-outline-orange {
    border: 1px #FFCC80 solid;
}

.bg-orange {
    background-color: #FFCC80;
}

.container {
    margin-left: 16px;
    margin-right: 16px;
    padding: 16px;
}

.text-bold {
    font-weight: bold;
}

.dark {
    color: #3C4852;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.line {
    border: 0;
    background-color: #FFCC80;
    height: 5px;
    width: 5%;
    border-radius: 2px;
}

.padd-5 {
    padding: 5px;
}
